* { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.selection-right{ 
  width: 250px;
  margin-right: 10px;
}

.selection-right span{ 
  margin: 10px;
}

.selection-right img { 
  width: 50px;
}

.icons { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  border-radius: 20px;
  transition: background-color 0.20s;
}

.icons-home { 
  color: #50b7f5;
  display: flex;
  align-items: center;
  font-weight: 700;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  user-select: none;
}

.icons:hover { 
  color: #50b7f5;
  background-color: rgba(209, 209, 209, 0.212);
}


.button button { 
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #50b7f5;
  color: white;
  font-weight: 800;
  border-radius: 50px;
  cursor: pointer;
}

/* Middle section */

.middle { 
  border: 3px solid rgba(0, 0, 0, 0.082);
  margin-left: 10px;
  padding: 20px;
}

.top  { 
  margin: 20px 20px 20px 20px;
  font-weight: bold;
}

.perfil { 
  width: 40px;
}

.perfil img { 
  width: 100%;
}


.search { 
  display: flex;
  height: 120px;
  width: 500px;
  border-bottom: solid 8px rgba(0, 0, 0, 0.027);
  border-top: 1px solid rgba(0, 0, 0, 0.082);
}

.comentario { 
  display: flex;
  flex-direction: row;
  margin: 20px ; 
}

.pesquisa input { 
  border: none;
  font-size: 20px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}


/* Middle postagem */

.postagem { 
  width: 400px;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.postagem img { 
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.postagem-foto { 
  display: flex;
  flex-direction: row;
  margin: 10px;
 
}

.name p { 
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.usuario p { 
  font-weight: bold;
}

