* {
  margin: 0;
  padding: 0;
 

}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


header {

  width: 100vw;
  height: 100vh;
 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  
  background-size: cover;
  background-position: center;
  
}

nav {
  text-align: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin: 2rem;


}

.cent { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* esta linha para que o elemento central ocupe todo o espaço vertical disponível */

}

.cent h1, p { 
  margin-bottom: 1rem;
}

.cent h1 { 
  font-size: 5rem;



}

.cent p { 
  font-size: 1.5rem;
 
}

.cent button { 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  font-size: 1.4rem;
  color: white;
  background-color: rgb(218, 61, 87);
  cursor: pointer;
}


.introduct { 
  margin: 3rem;
  padding: 6rem;
  text-align: center;
  color: rgb(179, 179, 179);
}

.introduct h2 { 
  font-size: 3rem;
  margin: 20px;

}

.introduct p { 
 
}

/* fotos */
.photo { 
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  padding: 25px;
  overflow-y: auto;
}

.fotos { 
  margin-right: 4rem ;
}

.fotos h3 { 
  margin: 15px;
  color: gray;
}

.fotos p { 
  color: rgb(172, 172, 172);
}

/* Globo */


.globo { 
  width: 1200px;
  margin-top: 20px;
}


.terra { 
  text-align: center;
}

.terra h2, p { 
  color: gray;
}

.terra h2 { 
  font-size: 3rem;
  margin: 50px;
}

.terra p { 
  font-size: 1.5rem;
}

.terra #menor { 
  font-size: 1rem;
  text-align: justify;
  margin: 50px; 
  line-height: 2rem;
}

.terra button { 
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
  
  font-size: 1rem;
  background-color: rgb(218, 61, 87);
  color: rgb(214, 214, 214);
  cursor: pointer;
}

/* Final */

.end { 
  border-top: 2px solid black;
  padding-top: 20px;
  margin-top: 50px;
  width: 100%;
}

.end h2 { 
  margin: 20px;
  font-size: 3rem;

}

.end h2, .subtitulo { 
  text-align: center;
}


.final { 
  display: flex;
  flex-direction: row;
}

.final h3, p { 
  margin: 20px;
  line-height: 30px;
}

 
 
@media (max-width: 768px) { 

  * { 
  
  }

  body { 
    width: 100%;
    margin-left: 10px;
  }

  .globo  { 
    width: 100%;
  }

  .globo img { 
    width: 100%;
  }

  nav { 
    display: none;
  }

  .cent { 
    text-align: center;
   
  }

  .cent h1 { 
    font-size: 2rem
  }

  .cent p { 
    font-size: 1rem;
  }

  .final { 
    display: flex;
    flex-direction: column;
   
  }

  .end h2 { 
    font-size: 2rem;
  }

} 