* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 98vw;
  height: 100vh;
  background-color: black;
  color: white;
 
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(70, 69, 69);
  height: 40rem;


  background-image: url(img/banner.jpg);
  background-position: center;


}

.info {
  text-align: center;

}

.info h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}



.info p {
  font-size: 1.3rem;
}

/* Galeria */

.galeria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

}

.galeria h2 { 
  margin-top: 1rem;
}

.galeria p {
  color: gray;
  margin-top: 1rem;
}

.photo {
  width: 27rem;
  margin: 2rem;
}

.photo img {
  width: 100%;
}

.photo button {
  margin-top: 1rem;
  width: 85%;
  background-color: rgb(48, 122, 117);
  border: none;
  color: rgb(232, 230, 227) !important;
  padding: 1rem;
  cursor: pointer;
  
}

button.taxi { 
  background-color: #9d7ed0;
}

@media (max-width: 767px) { 
 p { 
    padding: 10px;
  }

  .info h1 { 
    font-size: 3rem;
  }


} 